@import 'core';

.route--active {
    font-weight: bold;
    text-decoration: underline;
}
.header {
    height: 200px;
    margin-bottom: 20px;
    .logo {
        display: inline-block;
        margin: 1.5rem auto;
        height: 100%;
    }
    .text {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
        padding-left: 20px;
        font-family: 'Merriweather', serif;
        color: $atomic-grey;
        .title {
            margin-bottom: 10px;
            font-size: 42px;
            font-weight: bold;
        }
        .description {
            margin-bottom: 10px;
            font-size: 21px;
            font-family: "ff-din-web", sans-serif;
            font-weight: 400;
        }
    }
}
